<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/static/css/style.css}" rel="stylesheet">
    <title>Movie Tracker</title>
</head>

<body>
<div class="wrap">
    <header>
        <a th:href="@{/movies}">View all your movies </a>
    </header>

    <h2 align="center">Type your query and hit enter</h2>
</div>

<form action="/search">
    <input type="text" placeholder="Search.." name="query">
    <input type="submit">
</form>

</body>
</html>